
/*
 * google fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');
@import url('https://lipamanka.gay/linjalipamanka-normal.otf');

/*
 * themes
 * colorscheme:
 *   #EF6351
 *   #F38375
 *   #F7A399
 *   #FBC3BC
 *   #FFE3E0
 */
.theme-light-root {
    --fg: #2C0703;
    --fg2: #890620;
    --bg2: #B6465F;
    --bg: #DA9F93;
    --bglight: #EBD4CB;
}

/*
 * set super basic information
 */
body, html, #content {
    color: var(--fg);
    background-color: var(--bg);
    font-family: 'Margarine', sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

    padding: 0px;
    margin: 0px;
}

/*
 * the content is a flex container
 */
#content {
    display: flex;
    flex-direction: column;
}

/*
 * swap colors on the top bar
 */
#top-bar {
    color: var(--bg);
    background-color: var(--fg);
    display: flex;
    justify-content: center;
}

/*
 * title in the center
 */
#title {
    text-align: center;
}

/*
 * main content should cover the rest of the page
 */
#main-content {
    flex: 1; 
    padding-left: 20vw;
    padding-right: 20vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

/*
 * shove down the main stuff
 */
#text {
    margin-top: 20vh;
    width: 100%;
}

/*
 * seperate the number systems
 */
#number-systems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid var(--fg);
    padding-bottom: 16px;
}

/*
 * make the button swaps look nice
 */
button.number-system {
    background-color: transparent;
    border: none;
    font-family: 'Margarine', sans-serif;
    color: var(--fg);
    font-size: x-large;
    margin-left: 40px;
    margin-right: 40px;
}

/*
 * button hover effect
 */
button.number-system:hover {
    color: var(--fg2);
    cursor: pointer;
}

/*
 * sitelen pona font
 */
.sp {
    font-family: 'linja lipamanka', monospace;
}

/*
 * mark selected value
 */
.selected {
    background-color: var(--bg2) !important;
    border-bottom: 4px solid var(--fg) !important;
    border-radius: 8px !important;
}

/*
 * make selected not hard to read
 */
.selected:hover {
    color: var(--bg) !important;
}

/*
 * 1)  Seperate the numbers and the systems
 * 2)  Style the button
 */
#number-input {
    margin-bottom: 5vh;

    width: 50%;
    min-height: 40px;
    aspect-ratio: 10/1;

    background-color: var(--bglight);
    border: 4px solid var(--fg);
    border-radius: 8px;

    font-size: 20px;
    text-align: center;

    font-family: 'Margarine', sans-serif;
}

/*
 * make the readouts larger
 */
#sp-readout {
    font-size: 6em;
    margin-bottom: 0px;
}

/*
 * dim the sitelen Lasina
 */
#sl-readout {
    color: var(--fg2) !important;
    font-size: 1.5em;
    margin-bottom: 8vh;
}

/*
 * style a doc, hiding by default
 */
.system-doc {
    text-align: left;
    display: none;
}

.system-doc.selected-doc {
    display: block;
}

/*
 * indent examples
 */
.example {
    display: inline-block;
    text-indent: 2em;
    font-style: italic;
    color: var(--fg2);
}